NEXT_PUBLIC_SUPABASE_URL=https://doxyfktkyuueceoqrrro.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRveHlma3RreXV1ZWNlb3FycnJvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1NTQ0NjIsImV4cCI6MjA5MDEzMDQ2Mn0.Olk2pVW80KWMgqiW0cjNYPUucEIX0eBmr6n0T5eU3II
NEXT_PUBLIC_EMAILJS_SERVICE_ID=your_service_id
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=your_template_id
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=your_public_key
ADMIN_PASSWORD=uniflows2024
